*/node_modules
**/*/node_modules
/node_modules
/dist
*/dist
**/*/dist
*.swp
*/*.swp
**/*/*.swp
**/**/*.swp
.git
.Trashes
.DS_Store
.DS_Store?
npm-debug.log
**/*/npm-debug.log
*.swo
*/*.swo
**/*/*.swo
**/**/*.swo
*.env
*/*.env
**/**/*.env
