/*-------------------------------------
 *	BUTTONS MASTER STYLES
 *-------------------------------------
 *
 *	Stylesheet dedicated to all button
 *	styles including colour and typography
 *
/-------------------------------------*/

/* Base Button */
// TODO - Replace blackmesa-BTN
.blk-base-btn {
  width: auto;
  padding: 15px;
  display: inline-block;
  text-transform: uppercase;
  font-weight: 500;
  cursor: pointer;
  transition: all .4s;
  position: relative;
  vertical-align: middle;
  background: $color-brand-primary;
  color: $white;
  appearance: none;
  font-weight: bold;
  border-radius: 10px;
  border: none;
  box-shadow: 4px 4px 10px rgba(0,0,0,0);

  &:hover,
  &:focus,
  &:active {
    transform: scale3d(1.1, 1.1, 1.1);
    box-shadow: 4px 4px 10px rgba(0,0,0,.5);
  }
}
